#admin-events{
  width: 95vw;
  margin: 0rem auto 2rem;
  padding: 2rem 0;

  .events-list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
    
    .event-card{
      min-height: 6rem;
      display: flex;
      text-align: left;
      justify-content: space-between;
      margin: 0 1rem;
      
      &:first-of-type{
        margin-top: 1rem;
      }
      &:last-of-type{
        margin-bottom: 1rem;
      }

      .event-title{
        font-size: 1.3rem;
        font-weight: bold;
      }
      .event-desc{
        font-size:1.1rem;
      }
      .event-date{
        font-size: 0.8rem;
      }
    }
    .event-pic{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        height: 100%;
        object-fit: contain;
      }
    }

    .options{
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

@media only screen and (min-width: 768px) {
  .event-card{
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .event-info{
    margin-left: 3%;
  }
}