@use "../themes/defaultTheme" as *;

#admin-events {
  width: 95vw;
  margin: 0rem auto 2rem;
  padding: 2rem 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;

  .ui.button {
    width: 75%;
    font-size: 1.1rem;
    background-color: $clr-orange;
    color: #ffffff;
    margin: 0;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $clr-orange;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  .events-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;

    .event-card {
      min-height: 6rem;
      display: flex;
      text-align: left;
      justify-content: space-between;
      margin: 0 1rem;

      &:first-of-type {
        margin-top: 1rem;
      }
      &:last-of-type {
        margin-bottom: 1rem;
      }

      .event-title {
        font-size: 1.1rem;
        font-weight: bold;
      }
      .event-desc {
        font-size: 1.1rem;
      }
      .event-date {
        font-size: 0.8rem;
      }
    }
    .event-pic {
      width: 40%;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .options {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      i {
        font-size: 1.2em;
      }

      .menu {
        right: 10px;
        left: auto;
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  #admin-events {
    min-width: 280px;
  }
}

@media only screen and (min-width: 550px) {
  #admin-events {
    .events-list {
      .options {
        i {
          font-size: 1.5em;
        }
        .menu {
          .item{
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #admin-events {
    width: 90vw;
    .event-card {
      line-height: 1.5rem;
    }
    .events-list{
      .options{
        i {
          font-size: 1.1em;
        }
        .menu {
          .item{
            font-size: .8rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #admin-events {
    width: 70%;
    .event-info {
      margin-left: 3%;
    }
    .events-list{
      .options{
        i {
          font-size: 1.3em;
        }
        .menu {
          .item{
            font-size: .9rem;
          }
        }
      }
    }
  }
}
