.footer {
    margin-top: 1.5rem;
    display: flex;
    flex: 1;
    padding: 1.5rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}


@media only screen and (min-width: 768px) {
    .footer {
        font-size: .8rem;
        padding: 1.75rem 0 0rem 0;
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        font-size: .95rem;
        padding: 2rem 0 0rem;
    }
}