@use "../themes/defaultTheme" as *;

#event-slideshow {
  .slideshow {
    height: 35vh;
  }

  .embla {
    position: relative;
    background-color: #f7f7f7;
    padding: 10px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }

  .embla_viewport {
    overflow: hidden;
    width: 100%;
    // height: 70vw;
  }

  .embla_viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }

  .embla_viewport.is-dragging {
    cursor: grabbing;
  }

  .embla_container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }

  .embla_slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }

  .embla_slide_inner {
    position: relative;
    overflow: hidden;
    height: 18em;
  }

  .embla_slide_img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    min-height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);

    object-fit: cover;
  }

  .embla_button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    margin-left: 1rem;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: $clr-orange;
    padding: 0;
  }

  .embla_button:disabled {
    cursor: default;
    opacity: 0.3;
  }

  .embla_button_svg {
    width: 100%;
    height: 100%;
  }

  .embla__button-prev {
    left: 27px;
  }

  .embla_button-next {
    right: 27px;
  }

  .embla_dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 10px;
    // padding-bottom: 10rem;
  }

  .embla_dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 30px;
    height: 30px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
  }

  .embla_dot:after {
    background-color: #787878;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: "";
  }

  .embla_dot.is-selected:after {
    background-color: $clr-orange;
    opacity: 1;
  }

  .slideshow .img-container {
    display: absolute;
    height: 100%;
  }

  .gradient {
    height: 100%;
    position: relative;
    top: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
        rgb(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.701) 40%,
        rgba(0, 0, 0, 0) 70%);
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .text {
    position: relative;
    height: 100%;
    top: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 11;
    margin-bottom: 1rem;

    .card-title {
      font-size: 1.8rem;
      color: white;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }

    .card-date {
      font-size: 0.9rem;
      color: white;
      margin-bottom: 0.25rem;
      margin-left: 0.5rem;
    }

    .card-desc {
      font-size: 1.1rem;
      color: white;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
    }
  }
}


@media only screen and (min-width: 300px) {
  #event-slideshow {
    .slideshow {
      height: 22.75rem;
    }
  }
}

@media only screen and (min-width: 766px) {
  #event-slideshow {
    .embla{
      height: 100%;
    }

    .embla_slide_inner {
      position: relative;
      overflow: hidden;
      height: 18rem;
    }

    .embla_dots {
      padding-top: 10px;
    }

    .embla_viewport {
      overflow: hidden;
      width: 100%;
      height: 58vw !important;
    }

    .slideshow {
      height: 20rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  #event-slideshow {
    .embla_slide_inner {
      position: relative;
      overflow: hidden;
      height: 54vw;
    }

    .embla_viewport {
      height: 54vw !important;
    }

    .slideshow {
      height: 20rem;
    }
  }
}


@media only screen and (min-width: 900px) {
  #event-slideshow {
    .embla_slide_inner {
      position: relative;
      overflow: hidden;
      height: 50vw;
    }

    .embla_viewport {
      height: 50vw !important;
    }

    .slideshow {
      height: 21rem;
    }
  }
}


@media only screen and (min-width: 1024px) {
  #event-slideshow {
    width: 70vw;
    margin: auto;
    .embla_viewport {
      height: 44vw !important;
    }

    .embla {
      padding: 0%;
    }

    .embla_slide_img {
      width: 100%;
    }

    .embla_slide_inner {
      height: 65vh !important;
    }

    .embla_dots {
      padding-top: .8rem;
    }

    .gradient {
      height: 100%;
    }

    .slideshow {
      height: 20rem;
    }
  }
}

@media only screen and (min-width: 1040px) {
  #event-slideshow {
    .embla_dots {
      padding-top: .5rem;
    }
  }
}

@media only screen and (min-width: 1080px) {
  #event-slideshow {
    .embla_dots {
      padding-top: .2rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  #event-slideshow {
    .embla_viewport {
      height: 43vw !important;
    }

    .embla_slide_inner {
      height: 64vh !important;
    }

    .embla_dots {
      padding-top: 0rem;
      padding-bottom: 4rem;
    }
  }
}

@media only screen and (min-width: 1150px) {
  #event-slideshow {
    .embla_viewport {
      height: 41.25vw !important;
    }

    .embla_dots {
      padding-top: 0rem;
      padding-bottom: 4rem;
    }
  }
}


//stupid convuluted mess made to fix the embla dots playing peek a boo
@media only screen and (min-width: 1200px) {
  #event-slideshow {
    .embla{
      max-width: 95vw;
    }
    .embla_viewport {
      height: 40vw !important;
    }
  }
}


@media only screen and (min-width: 1284px) {
  #event-slideshow {
    .embla_viewport {
      height: 37.8vw !important;
    }
  }
}

@media only screen and (min-width: 1300px) {
  #event-slideshow {
    .embla_viewport {
      height: 36.25vw !important;
    }
  }
}

@media only screen and (min-width: 1320px) {
  #event-slideshow {
    .embla_viewport {
      height: 35vw !important;
    }
  }
}

@media only screen and (min-width: 1340px) {
  #event-slideshow {
    .embla_viewport {
      height: 33.5vw !important;
    }
  }
}

@media only screen and (min-width: 1360px) {
  #event-slideshow {
    .embla_viewport {
      height: 37vw !important;
    }
  }
}

@media only screen and (min-width: 1380px) {
  #event-slideshow {
    .embla_viewport {
      height: 31vw !important;
    }
  }
}

@media only screen and (min-width: 1400px) {
  #event-slideshow {
    .embla_slide_inner{
      height: 34vw !important;
    }
    .embla_viewport {
      height: 35vw !important;
    }
  }
}