#admin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#header{
  display: flex;
  width: 80vw;
  margin: 3rem auto;
  flex-direction: row;
  justify-content: space-evenly;
}

#admin h1{
  font-weight: bold;
}

h1.ui.header, h1.ui.header:first-child, h1.ui.header:last-child{
  margin: 0;
  cursor: pointer;
  font-size: 4rem;
}

#admin-animals{
  width: 70vw;
  margin: 1rem auto 2rem;
  padding: 2rem 0;
}

#admin-animals .button{
  width: 75%;
  height: 60px;
  font-size: 1.5rem;
  background-color: #F7931D;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
#admin-animals .button:hover{
  background-color: #F68C13;
  color: #FFFFFF;
}
.ui.button>.icon:not(.button) {
  opacity: 1;
}

/* #admin-animals .animal-list{
  text-align: center;
  width: 80%;
  display: flex;
  margin: 2rem 0;
  justify-content: center;
} */

#admin-animals .ui.grid {
  display: flex;
  justify-content: space-around;
}

#admin-animals .no-animals {
  font-size: 1.5rem;
  font-weight: bold;
}