@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$clr-white-1: #F6F7F8;
$clr-white-2: #FFFFFF;
$clr-orange: #F7931D;

$custom-font-1: 'ABeeZee', sans-serif;
$custom-font-2: 'Oxygen', sans-serif;
$custom-monospace: 'Space Mono', monospace;