@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

$clr-white-1: #F6F7F8;
$clr-white-2: #FFFFFF;
$clr-orange: #f06f1a;

$custom-font-1: 'ABeeZee', sans-serif;
$custom-font-2: 'Oxygen', sans-serif;
$custom-monospace: 'Space Mono', monospace;
$bold-font:  'Ubuntu', sans-serif;
$text-font-1: 'Cabin', sans-serif;
$text-font-2: 'Arimo', sans-serif;