@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f6f7f8 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nf-sect {
  display: flex;
  flex-direction: row;
}

#admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#admin h1 {
  font-weight: bold;
  display: inline-block;
  position: relative;
}
#admin h1.ui.header, #admin h1.ui.header:first-child, #admin h1.ui.header:last-child {
  margin: 0;
  cursor: pointer;
  font-size: 2.25rem;
  font-family: "Oxygen", sans-serif;
}
#admin h1.ui.header:hover, #admin h1.ui.header:first-child:hover, #admin h1.ui.header:last-child:hover {
  color: #f06f1a;
}
#admin h1::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f06f1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#admin h1:hover::after, #admin h1.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#admin h1.active {
  color: #f06f1a;
}
#admin #header {
  display: flex;
  width: 80vw;
  margin: 1.75rem auto;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
}
#admin #header .header {
  font-size: 1.6rem;
}

#admin-animals {
  width: 95vw;
  margin: 0rem auto 2rem;
  padding: 2rem 0;
}
#admin-animals .button {
  width: 75%;
  font-size: 1.2rem;
  background-color: #f06f1a;
  color: #ffffff;
  margin: 0;
  margin-bottom: 2rem;
}
#admin-animals .button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f06f1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#admin-animals .sort-div {
  width: 70%;
  margin-left: 15%;
  align-content: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#admin-animals .sort-div .ui.selection.dropdown {
  min-width: 9em;
  margin: 0.2rem;
}
#admin-animals .animal-list {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
#admin-animals .ui.grid {
  display: flex;
  justify-content: center;
}
#admin-animals .ui.grid .ui.card {
  font-size: 1.2rem;
  margin: 0.5rem;
  cursor: pointer;
  text-align: center;
  max-width: 250px;
  text-transform: uppercase;
}
#admin-animals .ui.grid .ui.card #type {
  color: rgba(45, 45, 45, 0.933);
}
#admin-animals .ui.grid .ui.card #age {
  color: rgba(45, 45, 45, 0.933);
}
#admin-animals .ui.grid .ui.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#admin-animals .no-animals {
  margin: 1.5rem;
  font-size: 1.5rem;
}
#admin-animals .ui.pagination.menu .item {
  font-size: 1.2rem;
}
#admin-animals .pagination {
  margin-top: 1rem;
}

.ui.button > .icon:not(.button) {
  opacity: 1;
}

@media only screen and (max-width: 350px) {
  #admin-animals {
    min-width: 280px;
  }
}
@media only screen and (min-width: 768px) {
  #admin #header {
    margin: 1.25rem auto;
  }
  #admin h1.ui.header,
#admin h1.ui.header:first-child,
#admin h1.ui.header:last-child {
    font-size: 1.5rem;
  }

  #admin-animals {
    width: 90vw;
  }
  #admin-animals .button {
    font-size: 0.9rem;
  }
  #admin-animals .sort-div {
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
  }
  #admin-animals .sort-div .ui.selection.dropdown {
    min-width: 2em;
    font-size: 0.85rem;
  }
  #admin-animals .ui.card #type {
    padding-bottom: 7px;
    font-size: 0.8rem;
  }
  #admin-animals .ui.card #gender {
    font-size: 0.8rem;
  }
  #admin-animals .ui.card #age {
    font-size: 0.8rem;
  }
  #admin-animals .ui.card .animal-header {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  #admin-animals .ui.pagination.menu .item {
    min-width: 2em;
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  #admin #header {
    margin: 2rem auto;
  }
  #admin #header .header {
    font-size: 2rem;
  }
  #admin #admin-animals {
    width: 70%;
    align-self: center;
  }
  #admin #admin-animals .ui.button {
    font-size: 1.2rem;
  }
  #admin #admin-animals .sort-div .ui.selection.dropdown {
    width: 13em;
    min-width: 9em;
    font-size: 1.1rem;
  }
  #admin #admin-animals .ui.pagination.menu .item {
    min-width: 4em;
  }
  #admin .ui.card #type {
    padding-bottom: 0px;
  }
  #admin #admin-events {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #admin #admin-events .event-info div {
    margin-bottom: 0.5rem;
  }
  #admin #admin-events .options {
    height: 1rem;
  }
}
body {
  background-color: #f6f7f8;
  height: auto;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

#adoption {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 1rem auto 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}
#adoption h1 {
  font-weight: bold;
  color: #f06f1a;
  margin-bottom: 3rem;
  text-align: center;
}
#adoption h1.ui.header, #adoption h1.ui.header:first-child, #adoption h1.ui.header:last-child {
  margin: 0;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
}
#adoption .sort-div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-gap: 0.3rem;
}
#adoption .sort-div .ui.selection.dropdown {
  width: 15em;
  min-width: 9em;
  margin: 0.2rem;
  font-size: 1.3rem;
}
#adoption .animal-list {
  width: 90%;
  display: flex;
  margin: 3rem 0;
  justify-content: center;
}
#adoption .grid {
  justify-content: center;
}
#adoption .grid .ui.card {
  font-size: 1.2rem;
  margin: 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 250px;
  text-transform: uppercase;
}
#adoption .grid .ui.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#adoption .grid .ui.card .animal-header {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}
#adoption .grid .ui.card .card-type, #adoption .grid .ui.card .card-age {
  color: rgb(66, 66, 66);
}
#adoption .ui.pagination.menu {
  height: 100%;
}
#adoption .ui.pagination.menu .item {
  font-size: 1.2rem;
}
#adoption .no-animals {
  margin: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (min-width: 650px) {
  #adoption .ui.pagination.menu .item {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 760px) {
  #adoption h1.ui.header, #adoption h1.ui.header:first-child, #adoption h1.ui.header:last-child {
    font-size: 2.5rem;
  }
  #adoption .grid .ui.card {
    font-size: 1rem;
  }
  #adoption .grid .ui.card .animal-header {
    font-size: 1.8rem;
  }
  #adoption .grid .ui.card .meta {
    font-size: 1.2rem;
  }
  #adoption .sort-div {
    flex-direction: row;
  }
  #adoption .sort-div .ui.selection.dropdown {
    width: 22vw;
    min-width: 15vw;
    padding: 3%;
    font-size: 1.2rem;
  }
  #adoption .ui.pagination.menu .item {
    min-width: 2em;
    justify-content: center;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #adoption {
    width: 70%;
  }
  #adoption h1.ui.header, #adoption h1.ui.header:first-child, #adoption h1.ui.header:last-child {
    font-size: 3rem;
  }
  #adoption .animal-list {
    width: 100%;
  }
  #adoption .sort-div .ui.selection.dropdown {
    width: 20%;
    font-size: 1.2rem;
  }
  #adoption .ui.pagination.menu .item {
    min-width: 4em;
    min-height: 3.5em;
    font-size: 1.3rem;
  }
}
.container {
  padding: 0 2rem;
}

.ui.menu {
  display: flex;
  height: 3.5rem;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.everything {
  overflow-x: hidden;
}

.nf-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.nf-div .nf-title {
  font-size: 2.2rem;
  font-family: "Signika", sans-serif;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.slideshow {
  margin-top: 1rem;
}

.img-container {
  margin: 0;
  object-fit: contain;
  overflow: hidden;
  margin: auto;
  display: flex;
  background: rgb(27, 27, 27);
  align-items: center;
  justify-content: center;
}

.curr-img {
  margin: auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.nf-description {
  width: 60%;
  margin-right: 4%;
}

.img-btn-left {
  left: 0;
  margin-left: 5rem !important;
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.img-btn-right {
  right: 0;
  margin-right: 5rem !important;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.arrow {
  position: relative;
  top: 50%;
  height: 30px;
  width: 40px;
}

.nf-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
}
.nf-sect span:first-child {
  max-height: 50vw;
}
.nf-sect #home-upload .adopt-image,
.nf-sect #home-upload .adopt-video {
  max-height: 50vw;
}
.nf-sect #home-upload .edit .ui.button {
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.5rem;
  margin: 0px;
  bottom: -10px;
  cursor: pointer;
  position: absolute;
}

.events-section {
  margin-top: 7.5rem !important;
  width: 100%;
  border: 100px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #f06f1a !important;
}
.events-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}
.events-section .nf-wholeSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1.5rem;
}
.events-section .nf-wholeSect p {
  margin-top: 1rem;
  color: #fafafa;
}
.events-section .nf-wholeSect .ui.white.button {
  margin-bottom: 4%;
  padding: 5% 3.75%;
  box-shadow: 2px 2px 5px #aaaaaa;
  color: #f06f1a;
  background-color: #fafafa;
}

.ui.segment.adopt-section {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.119);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.ui.segment.adopt-section .adopt-image {
  border-radius: 3%;
}
.ui.segment.adopt-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f06f1a;
}
.ui.segment.adopt-section .nf-wholeSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1.5rem;
}
.ui.segment.adopt-section .nf-wholeSect p {
  margin-top: 1.8rem;
  font-size: 1.2rem;
}
.ui.segment.adopt-section .nf-adopt-btn {
  margin-bottom: 4%;
  padding: 1.3rem 1rem;
  color: white;
  box-shadow: 2px 2px 5px #aaaaaa;
  background-color: #f06f1a;
}

.ui.segment:first-child h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nf-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.nf-div h1 {
  font-family: "Signika", sans-serif;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1.55rem;
  }

  .grid {
    flex-direction: column;
  }

  .events-section {
    margin-top: 4.25rem !important;
  }

  .nf-div h1 {
    font-size: 2.5rem;
  }

  .nf-sect {
    display: flex;
  }
  .nf-sect #home-upload .adopt-image,
.nf-sect #home-upload .adopt-video {
    max-height: 40vw;
  }
  .nf-sect #home-upload .edit .ui.button {
    bottom: -12px;
    font-size: 1.5rem;
  }

  .ui.segment.adopt-section .nf-wholeSect p {
    font-size: 1.2rem;
  }
  .ui.segment.adopt-section .nf-wholeSect .ui.button {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 780px) {
  .nf-wholeSect .ui.button {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 766px) {
  .nf-div {
    margin-top: 9vw;
  }
}
@media only screen and (min-width: 900px) {
  .nf-div {
    margin-top: 8vw;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.1rem;
  }
  html .nf-div {
    margin-top: 5vw;
    padding-top: 25px;
  }
  html .nf-sect {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 1.75%;
  }
  html .nf-sect #home-upload .adopt-image,
html .nf-sect #home-upload .adopt-video {
    border-radius: 3%;
    max-width: 40vw;
    max-height: 30vw;
  }
  html .nf-sect #home-upload .edit .ui.button {
    bottom: -15px;
  }
  html .ui.segment.adopt-section h1 {
    font-size: 2.5rem;
  }
  html .ui.segment.adopt-section .nf-wholeSect p {
    margin-right: 3rem;
    margin-left: 2rem;
    width: 75%;
    font-size: 1.2rem;
  }
  html .ui.segment.adopt-section .nf-wholeSect .ui.button {
    font-size: 1.2rem;
    padding: 1.3% 1.1%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 1100px) {
  .nf-div {
    margin-top: 2.5vw;
  }
}
/* LOGIN & REGISTER FORM CSS */
.form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}

#login,
#register {
  margin: none;
  width: 90%;
  position: relative;
  margin-top: 1.5rem;
  /* FORM TOP */
  /* FORM FIELDS */
  /* FORM BOTTOM */
}
#login div.ui.segment,
#register div.ui.segment {
  margin-top: 0;
}
#login .login-title,
#register .login-title {
  margin-bottom: 1rem;
}
#login .upload-image,
#register .upload-image {
  margin-bottom: 2rem;
}
#login body,
#register body {
  background-color: #f6f7f8;
  height: auto;
}
#login div.edit button,
#register div.edit button {
  width: 25px;
  height: 25px;
}
#login div.field,
#register div.field {
  font-size: 1.2rem;
}
#login div.visible.menu span,
#register div.visible.menu span {
  font-size: 1.2rem;
}
#login #login-btn,
#login #register-btn,
#register #login-btn,
#register #register-btn {
  margin-bottom: 1rem;
  margin-right: 0;
  padding: 10px;
  font-size: 1.8rem;
  color: white;
  background: #f06f1a;
}
#login .form-link,
#register .form-link {
  text-align: center;
  width: 100%;
  background: none;
  color: black;
  cursor: pointer;
}
#login .form-link:hover,
#register .form-link:hover {
  background: none;
  color: rgba(0, 0, 0, 0.6);
}
#login .reset-password-link,
#register .reset-password-link {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  padding: 0.78571429em 1.5em 0.78571429em;
  font-size: 1rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#register .form-link {
  margin: 0.5rem 0;
}

@media only screen and (min-height: 750px) and (min-width: 350px) {
  form#login,
form#register {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
/* TABLET STYLES */
@media only screen and (min-width: 768px) {
  form#login,
form#register {
    width: 85vw;
    /* form top */
    /* form fields */
    /* form bottom */
  }
  form#login .ui.segment h1,
form#register .ui.segment h1 {
    font-size: 1.8rem;
  }
  form#login label,
form#register label {
    font-size: 1.2em;
  }
  form#login .ui.input,
form#register .ui.input {
    font-size: 1.5em;
  }
  form#login .upload-image,
form#register .upload-image {
    margin-bottom: 4rem;
  }
  form#login #photo-upload,
form#register #photo-upload {
    width: 90px;
    height: 90px;
  }
  form#login #photo-upload img,
form#register #photo-upload img {
    width: 90px;
    height: 90px;
  }
  form#login div.edit button,
form#register div.edit button {
    width: 35px;
    height: 35px;
  }
  form#login i.pencil.icon,
form#register i.pencil.icon {
    font-size: 1.2rem;
  }
  form#login div.visible.menu span,
form#register div.visible.menu span {
    font-size: 1.1rem;
  }
  form#login #login-btn,
form#login #register-btn,
form#register #login-btn,
form#register #register-btn {
    padding: 15px;
    font-size: 1.3rem;
  }
  form#login .form-link, form#login .reset-password-link,
form#register .form-link,
form#register .reset-password-link {
    font-size: 1.2rem;
  }
}
/* LARGE & DESKTOP STYLES */
/* 1024px | 1280px */
@media only screen and (min-width: 1024px) {
  form#login,
form#register {
    width: 70vw;
  }
  form#login div.field, form#login .ui.selection.dropdown,
form#register div.field,
form#register .ui.selection.dropdown {
    font-size: 1.2em;
  }
  form#login #login-btn,
form#login #register-btn,
form#register #login-btn,
form#register #register-btn {
    padding: 15px;
    font-size: 1.5rem;
  }
  form#login .form-link,
form#register .form-link {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1280px) {
  form#login,
form#register {
    width: 60vw;
  }
}
div.animal-wrap {
  margin-top: 1rem;
  padding-bottom: 5%;
  width: 90%;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.105);
  display: flex;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

#interested-button {
  width: 50vw;
  margin-top: 2rem;
  background-color: #f06f1a;
  color: white;
}

.top-btns {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0;
}
.top-btns #edit-2 {
  margin-left: 1rem !important;
}
.top-btns div {
  font-size: 1.2rem;
}

.delete-popup button.ui.red.button {
  width: 100%;
}

.page-wrap {
  display: flex;
  justify-content: center;
}

.pet-name {
  margin-top: 5% !important;
}

.pet-img {
  width: 70vw;
  height: 70vw;
  object-fit: cover;
}

.para-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.pet-title {
  margin-top: 6%;
  margin-bottom: 8%;
}

.pet-description {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85vw;
  margin-bottom: 5%;
}
.pet-description div {
  margin: 0 2.5% 0% 3%;
}
.pet-description h3 {
  margin-top: 0%;
  color: #f06f1a;
  font-size: 1.65rem;
}
.pet-description p {
  margin-bottom: 7%;
}
.pet-description .section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pet-description .section-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h3 {
  margin-top: 0;
}

.content {
  background: rgba(255, 255, 255, 0.3);
}

.gallery-title {
  font-size: 1.72rem;
}

.pet-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;
  padding-top: 5% !important;
}
.pet-gallery img {
  width: 65% !important;
  height: 250px !important;
  object-fit: cover !important;
  border-radius: 3%;
  min-width: 30vw;
}

@media only screen and (min-width: 768px) {
  div.animal-wrap {
    font-size: 0.8rem;
  }

  .top-btns #edit-1 {
    font-size: 1rem;
  }
  .top-btns #edit-2 {
    font-size: 1rem;
    margin-left: 1rem !important;
  }

  .para-desc {
    font-size: 0.9rem;
  }

  .pet-title {
    font-size: 1.3rem;
    margin-bottom: 0%;
  }

  .pet-description h3 {
    font-size: 1.2rem;
  }
  .pet-description .section-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .pet-description .section-1 div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .pet-description .section-2 {
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  .pet-description .section-2 div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .pet-description .section-3 {
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  .pet-description .section-3 div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .gallery-title {
    font-size: 1.35rem;
  }

  .pet-img {
    width: 53vw;
    height: 50vw;
  }

  .pet-gallery {
    align-items: center;
    justify-content: center;
    grid-gap: 3px;
  }
  .pet-gallery img {
    padding: 1% !important;
    width: 35% !important;
    height: 300px !important;
  }
}
.checkboxes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.checkboxes input {
  height: 1.3rem;
}

@media only screen and (min-width: 1024px) {
  .pet-name {
    margin-top: 2% !important;
    margin-bottom: 2%;
  }

  .top-btns #edit-1 {
    font-size: 1.25rem;
  }
  .top-btns #edit-2 {
    font-size: 1.25rem;
  }

  .pet-img {
    width: 40vw;
    height: 40vw;
  }

  .para-desc {
    margin-top: 3%;
    width: 70%;
    font-size: 1.1rem;
  }

  .pet-title {
    margin-top: 3%;
    font-size: 1.7rem;
  }

  .pet-description {
    margin-left: 3rem;
    margin-bottom: 2.5%;
  }
  .pet-description h3 {
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 1.5rem;
  }
  .pet-description p {
    margin-bottom: 1%;
    font-size: 1rem;
  }
  .pet-description .section-1 {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .pet-description .section-1 div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .pet-description .section-2 {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .pet-description .section-2 div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .pet-description .section-3 {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .pet-description .section-3 div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .pet-img {
    width: 27vw;
    height: 25vw;
  }

  .gallery-title {
    font-size: 2.5rem;
  }

  .pet-gallery {
    align-items: center;
    justify-content: center;
    grid-gap: 1px;
    padding-top: 0;
  }
  .pet-gallery img {
    padding: 0.5% !important;
    height: 300px !important;
    object-fit: cover !important;
  }
}
#add-animal i.close,
#add-event i.close,
#edit-animal i.close,
#edit-event i.close,
#adopt-modal i.close {
  font-size: 1.5rem;
}
#add-animal .form-wrap,
#add-event .form-wrap,
#edit-animal .form-wrap,
#edit-event .form-wrap,
#adopt-modal .form-wrap {
  flex-direction: column;
}
#add-animal .form,
#add-event .form,
#edit-animal .form,
#edit-event .form,
#adopt-modal .form {
  width: 100%;
  padding: 0.5rem;
}
#add-animal .error.message i.close,
#add-event .error.message i.close,
#edit-animal .error.message i.close,
#edit-event .error.message i.close,
#adopt-modal .error.message i.close {
  font-size: 1rem;
}
#add-animal h1,
#add-event h1,
#edit-animal h1,
#edit-event h1,
#adopt-modal h1 {
  color: #f06f1a;
}
#add-animal .uploads,
#add-event .uploads,
#edit-animal .uploads,
#edit-event .uploads,
#adopt-modal .uploads {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
}
#add-animal .field,
#add-event .field,
#edit-animal .field,
#edit-event .field,
#adopt-modal .field {
  font-size: 1.1rem;
}
#add-animal #event-group,
#add-event #event-group,
#edit-animal #event-group,
#edit-event #event-group,
#adopt-modal #event-group {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}
#add-animal #event-group .field,
#add-animal #event-group #event-type,
#add-event #event-group .field,
#add-event #event-group #event-type,
#edit-animal #event-group .field,
#edit-animal #event-group #event-type,
#edit-event #event-group .field,
#edit-event #event-group #event-type,
#adopt-modal #event-group .field,
#adopt-modal #event-group #event-type {
  width: 100%;
}
#add-animal #event-group #event-type,
#add-event #event-group #event-type,
#edit-animal #event-group #event-type,
#edit-event #event-group #event-type,
#adopt-modal #event-group #event-type {
  margin-bottom: 1em;
}
#add-animal #event-group #event-type .field:last-child,
#add-event #event-group #event-type .field:last-child,
#edit-animal #event-group #event-type .field:last-child,
#edit-event #event-group #event-type .field:last-child,
#adopt-modal #event-group #event-type .field:last-child {
  margin-top: 0.5em;
}
#add-animal .button-div,
#add-event .button-div,
#edit-animal .button-div,
#edit-event .button-div,
#adopt-modal .button-div {
  display: flex;
  justify-content: center;
}
#add-animal .button-div .button,
#add-event .button-div .button,
#edit-animal .button-div .button,
#edit-event .button-div .button,
#adopt-modal .button-div .button {
  margin: 1rem 0 0;
  color: white;
  background-color: #f06f1a;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  #add-animal h1,
#add-event h1,
#edit-animal h1,
#edit-event h1 {
    font-size: 2rem;
  }
  #add-animal .field,
#add-event .field,
#edit-animal .field,
#edit-event .field {
    font-size: 0.8rem;
  }
  #add-animal .button-div .button,
#add-event .button-div .button,
#edit-animal .button-div .button,
#edit-event .button-div .button {
    font-size: 0.8rem;
  }
  #add-animal .ui.icon.header,
#add-event .ui.icon.header,
#edit-animal .ui.icon.header,
#edit-event .ui.icon.header {
    font-size: 1.3rem;
  }
  #add-animal .ui.icon.header .icon,
#add-event .ui.icon.header .icon,
#edit-animal .ui.icon.header .icon,
#edit-event .ui.icon.header .icon {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 991px) {
  #add-animal i.close,
#add-event i.close,
#edit-animal i.close,
#edit-event i.close {
    top: 1.0535rem;
    right: 1rem;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  #add-animal h1,
#add-event h1,
#edit-animal h1,
#edit-event h1 {
    font-size: 2.5rem;
  }
  #add-animal .button-div .button,
#add-event .button-div .button,
#edit-animal .button-div .button,
#edit-event .button-div .button {
    font-size: 1.2rem;
  }
  #add-animal .field,
#add-event .field,
#edit-animal .field,
#edit-event .field {
    font-size: 1.2rem;
  }
  #add-animal .ui.icon.header,
#add-event .ui.icon.header,
#edit-animal .ui.icon.header,
#edit-event .ui.icon.header {
    font-size: 1.5rem;
  }
  #add-animal .ui.icon.header .icon,
#add-event .ui.icon.header .icon,
#edit-animal .ui.icon.header .icon,
#edit-event .ui.icon.header .icon {
    font-size: 3em;
  }
}
.form-wrap #resetPassword {
  margin-top: 1.5rem;
}

.reset-password {
  font-size: 1.5rem;
  text-align: center;
}
.reset-password .ui.button {
  color: #f06f1a;
}

.back-to-email {
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
}

.reset-btn {
  margin: 0;
  width: 100%;
}

.changelog-container {
  width: 95vw;
  margin: auto;
  margin-top: 1rem;
}
.changelog-container .sort-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.changelog-container .sort-div .ui.selection.dropdown {
  min-width: 30%;
  margin-right: 3%;
  margin-left: 3%;
}
.changelog-container .changelog-title {
  font-size: 1.5rem;
  text-align: center;
}
.changelog-container .log-container {
  background: black;
  color: white;
  font-family: "Space Mono", monospace;
  padding: 0.75rem 5px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.changelog-container .log-container::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
  transition: all 2s linear;
}
.changelog-container .log-container::-webkit-scrollbar-track {
  background: #000000;
}
.changelog-container .log-container::-webkit-scrollbar-thumb {
  background: rgb(224, 224, 224);
}
.changelog-container .log-container::-webkit-scrollbar-thumb:hover {
  background: rgb(149, 149, 149);
}
.changelog-container .log-container .log-text {
  font-size: 0.85rem;
  margin: 0.25rem 0;
}
.changelog-container .log-container .log-text .log-date {
  color: greenyellow;
}
.changelog-container .log-container .log-text.error {
  color: rgb(189, 0, 0);
}
.changelog-container .clear-btn-container {
  display: flex;
  justify-content: center;
}
.changelog-container .clear-btn-container .clear-btn {
  margin-top: 1rem;
}

@media only screen and (min-width: 760px) {
  .changelog-container .sort-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .changelog-container .sort-div .ui.selection.dropdown {
    min-width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 0.9rem;
  }
}
.events-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  background-color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
}
.events-map h1 {
  color: #f06f1a;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}
.events-map .map-and-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events-map .map-and-text .event-text {
  margin-bottom: 1.25rem !important;
}
.events-map .map-and-text .event-date {
  font-weight: 635;
}
.events-map .map-and-text p {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 0;
}
.events-map .map-and-text .ui.hidden.divider {
  display: none;
}
.events-map .map-and-text .allMaps {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-bottom: 2%;
  box-shadow: 2px 2px 4px rgb(213, 213, 213);
  margin-bottom: 2rem;
  border-radius: 3%;
}
.events-map .map-and-text .allMaps .map1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(183, 183, 183);
  box-shadow: 2px 2px 4px rgb(213, 213, 213);
  width: 90vw;
  height: 60vw;
  border-radius: 3%;
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .events-map {
    margin-top: 5vw;
  }
  .events-map .map-and-text p {
    padding-left: 7%;
    padding-right: 7%;
    font-size: 0.8rem;
  }
  .events-map .map-and-text h2 {
    margin-top: 1.5rem;
    padding-left: 7%;
    font-size: 1rem;
  }
  .events-map .map-and-text .allMaps {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 80vw;
  }
  .events-map .map-and-text .allMaps .map1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    border: 1px solid rgb(183, 183, 183);
    box-shadow: 2px 2px 4px rgb(213, 213, 213);
    width: 100%;
    height: 60vw;
    border-radius: 3%;
  }
}
@media only screen and (min-width: 1024px) {
  .events-map {
    margin-top: 15vw;
    padding-top: 25px;
  }
  .events-map .map-and-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .events-map .map-and-text h2 {
    margin-top: 1.5rem;
    padding-left: 5%;
    font-size: 1.5rem;
  }
  .events-map .map-and-text p {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
  }
  .events-map .map-and-text .map {
    width: 50%;
    height: 20vw;
  }
  .events-map .map-and-text .allMaps {
    height: auto;
  }
  .events-map .map-and-text .allMaps .map1 {
    height: 50vh;
  }
}
#event-modal {
  width: 90vw;
}

.event-modal-wrap {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
.event-modal-wrap .title-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.event-modal-wrap .title-row .event-modal-title {
  color: #f06f1a;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
}
.event-modal-wrap .event-modal-img {
  align-self: center;
  border-radius: 0.3rem;
  margin: 0 auto !important;
}
.event-modal-wrap .event-meta {
  color: #000000;
  margin: 0;
  font-size: 1.1rem;
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.6px;
}
.event-modal-wrap .event-modal-featured {
  margin-top: 1rem;
  color: #f06f1a;
}
.event-modal-wrap .event-modal-date {
  margin-top: 1rem;
}
.event-modal-wrap .event-modal-location {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.event-modal-wrap .event-modal-desc {
  color: #000;
}

@media only screen and (min-width: 768px) {
  .event-modal-wrap .event-modal-featured {
    margin-top: 1rem;
  }
  .event-modal-wrap .event-modal-date {
    margin-top: 1rem;
    font-size: 0.95rem;
  }
  .event-modal-wrap .event-modal-location {
    margin-top: 0.5rem;
    font-size: 0.85rem;
  }
  .event-modal-wrap .event-modal-desc {
    color: #000;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 991px) {
  #event-modal .content .event-modal-wrap .event-modal-content {
    display: flex;
  }
  #event-modal .content .event-modal-wrap .event-modal-content .event-modal-img {
    width: 50%;
  }
  #event-modal .content .event-modal-wrap .event-modal-content .event-modal-text {
    margin-left: 1rem;
  }
  #event-modal .content .event-modal-wrap .event-modal-content .event-modal-date {
    font-size: 0.95rem;
  }
  #event-modal .content .event-modal-wrap .event-modal-content .event-modal-location {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  #event-modal .content .event-modal-wrap .event-modal-content .event-modal-desc {
    color: #000;
    font-size: 1rem;
  }
}
#image-modal {
  background: none transparent;
  box-shadow: none;
}
#image-modal .content {
  background: none transparent;
}
#image-modal i {
  display: none;
}
#image-modal .ui.card {
  background: none transparent;
}
#image-modal .floated.left.image {
  cursor: pointer;
  background: white;
  width: auto;
  height: 45vw;
  margin: 0 auto;
}
#image-modal .ui.card > .image > img {
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 768px) {
  #image-modal .floated.left.image {
    height: 40vw;
  }
}
@media only screen and (min-width: 1024px) {
  #image-modal .floated.left.image {
    height: 35vw;
  }
}
@media only screen and (min-width: 1170px) {
  #image-modal .floated.left.image {
    height: 30vw;
  }
}
#adopt-modal form #form-group .checkboxes {
  display: flex;
  flex-direction: column;
}
#adopt-modal form #form-group .checkboxes .checkbox-combo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#adopt-modal form #form-group .checkboxes .checkbox-inputs .field .input {
  height: 1.3rem;
}

#admin-users {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
#admin-users .campus-group {
  margin-bottom: 1.25rem;
}
#admin-users .campus-group .student-group {
  border-left: solid #F7931D 3px;
  padding-left: 0.55rem;
  margin-left: 1.85rem;
}
#admin-users .campus-group .user-card {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0 0 0;
  background: #dadada;
  padding: 5px;
  border-radius: 0.28571429rem;
}
#admin-users .campus-group .user-card .profile-pic {
  width: 20vw;
  height: 20vw;
}
#admin-users .campus-group .user-card .profile-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0.25em;
}
#admin-users .campus-group .user-card .text {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
  justify-content: center;
}
#admin-users .campus-group .user-card .text .user-card-top {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding-right: 3%;
  height: 1.5rem;
}
#admin-users .campus-group .user-card .text .user-card-top .user-role {
  text-transform: capitalize;
}
#admin-users .campus-group .user-card .text .user-card-top .user-name {
  font-weight: bold;
}
#admin-users .campus-group .user-card .text .user-card-top .options {
  margin-top: 18px;
}
#admin-users .campus-group .user-card .text .user-card-mid {
  text-transform: capitalize;
}
#admin-users .campus-group .user-card .text .edit-email {
  display: flex;
}
#admin-users .campus-group .user-card .text .edit-email input {
  width: 90%;
}

@media only screen and (min-width: 540px) {
  #admin-users {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1000px) {
  #admin-users .campus-group .user-card {
    height: 15vw;
  }
  #admin-users .campus-group .user-card .profile-pic img {
    margin-top: 3.5%;
    width: 65%;
    height: 65%;
    margin-left: 0%;
  }
}
@media only screen and (min-width: 1220px) {
  #admin-users {
    width: 70%;
  }
  #admin-users .campus-group .student-group {
    border-left: solid #F7931D 4px;
    padding-left: 0.4rem;
    margin-left: 2.25rem;
  }
  #admin-users .campus-group .user-card {
    height: 13vw;
  }
  #admin-users .campus-group .user-card .profile-pic img {
    width: 55%;
    height: 55%;
  }
  #admin-users .campus-group .user-card .text {
    margin-left: 2%;
  }
  #admin-users .campus-group .user-card .text .user-card-top {
    font-size: 1.15rem;
  }
  #admin-users .campus-group .user-card .text .options {
    font-size: 1.5rem;
  }
}
.navbar {
  position: relative;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  transition: border 0.1s linear;
}
.navbar.showing {
  border-bottom: 3px solid transparent;
}
.navbar .wm-logo {
  width: 40%;
}
.navbar .vet-logo {
  width: 15%;
}
.navbar i.icon.hamburger {
  width: 15%;
  font-size: 2.1rem;
}

.hamburger.items {
  display: flex;
  font-family: "ABeeZee", sans-serif;
  transition: all 0.6s ease-out;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background: white;
  z-index: 9;
  border-bottom: solid 3px #f06f1a;
  position: absolute;
  height: auto;
}
.hamburger.items .menu-item a {
  font-size: 1.5rem;
  line-height: 3rem;
  color: black;
}
.hamburger.items.taller {
  transform: translateY(-15rem);
}
.hamburger.items.tall {
  transform: translateY(-12rem);
}
.hamburger.items.short {
  transform: translateY(-6rem);
}

.hamburger.items.show {
  transform: translateY(0);
  transition: all 0.6s ease-out;
}

.navbar2 {
  display: none;
}

.styling-case {
  display: none;
}

@media only screen and (max-width: 280px) {
  .hamburger.items {
    width: 114.4%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    height: 5rem;
  }
  .navbar .vet-logo {
    width: 10%;
  }
  .navbar i.icon.hamburger {
    font-size: 3rem;
  }

  .hamburger.items .menu-item a {
    font-size: 1.26rem;
    line-height: 2.8rem;
  }
  .hamburger.items a:hover {
    color: #f06f1a;
  }
  .hamburger.items.hide.tall {
    transform: translateY(-16rem);
  }
  .hamburger.items.hide.tall.taller {
    transform: translateY(-20rem) !important;
  }
  .hamburger.items.hide.short {
    transform: translateY(-8rem);
  }
}
@media only screen and (min-width: 1024px) {
  .navbar {
    display: none;
  }

  .styling-case {
    display: flex !important;
    margin-top: 1%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .hamburger.items {
    display: none;
  }

  .navbar2 {
    width: 100%;
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0.1%;
    border-bottom: 2px solid #f06f1a;
    background-color: white;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.269);
  }
  .navbar2 .vet-logo {
    width: 6%;
    margin-left: 2%;
  }
  .navbar2 .wm-logo {
    width: 20%;
    margin-right: 20%;
  }

  .menu-item {
    margin-right: 30px;
    font-size: 1.4rem;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .menu-item a {
    color: black;
  }
  .menu-item a:hover {
    color: black;
  }
  .menu-item::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f06f1a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .menu-item:hover::after, .menu-item.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
#event-slideshow .slideshow {
  height: 35vh;
}
#event-slideshow .embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 10px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
#event-slideshow .embla_viewport {
  overflow: hidden;
  width: 100%;
}
#event-slideshow .embla_viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
#event-slideshow .embla_viewport.is-dragging {
  cursor: grabbing;
}
#event-slideshow .embla_container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}
#event-slideshow .embla_slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}
#event-slideshow .embla_slide_inner {
  position: relative;
  overflow: hidden;
  height: 18em;
}
#event-slideshow .embla_slide_img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
#event-slideshow .embla_button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  margin-left: 1rem;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #f06f1a;
  padding: 0;
}
#event-slideshow .embla_button:disabled {
  cursor: default;
  opacity: 0.3;
}
#event-slideshow .embla_button_svg {
  width: 100%;
  height: 100%;
}
#event-slideshow .embla__button-prev {
  left: 27px;
}
#event-slideshow .embla_button-next {
  right: 27px;
}
#event-slideshow .embla_dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}
#event-slideshow .embla_dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}
#event-slideshow .embla_dot:after {
  background-color: #787878;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}
#event-slideshow .embla_dot.is-selected:after {
  background-color: #f06f1a;
  opacity: 1;
}
#event-slideshow .slideshow .img-container {
  display: absolute;
  height: 100%;
}
#event-slideshow .gradient {
  height: 100%;
  position: relative;
  top: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.701) 40%, rgba(0, 0, 0, 0) 70%);
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
}
#event-slideshow .text {
  position: relative;
  height: 100%;
  top: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 11;
  margin-bottom: 1rem;
}
#event-slideshow .text .card-title {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
#event-slideshow .text .card-date {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}
#event-slideshow .text .card-desc {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 300px) {
  #event-slideshow .slideshow {
    height: 22.75rem;
  }
}
@media only screen and (min-width: 766px) {
  #event-slideshow .embla {
    height: 100%;
  }
  #event-slideshow .embla_slide_inner {
    position: relative;
    overflow: hidden;
    height: 20rem;
  }
  #event-slideshow .embla_dots {
    padding-top: 20px;
  }
  #event-slideshow .embla_viewport {
    overflow: hidden;
    width: 100%;
    height: 58vw !important;
  }
  #event-slideshow .slideshow {
    height: 20rem;
  }
}
@media only screen and (min-width: 800px) {
  #event-slideshow .embla_slide_inner {
    position: relative;
    overflow: hidden;
    height: 40vw;
  }
  #event-slideshow .embla_viewport {
    height: 58vw !important;
  }
  #event-slideshow .slideshow {
    height: 25rem;
  }
  #event-slideshow .embla_dot {
    padding-top: 25px;
  }
}
@media only screen and (min-width: 900px) {
  #event-slideshow .embla_slide_inner {
    position: relative;
    overflow: hidden;
    height: 40vw;
  }
  #event-slideshow .embla_viewport {
    height: 50vw !important;
  }
  #event-slideshow .slideshow {
    height: 30rem;
  }
  #event-slideshow .embla_dots {
    padding-top: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  #event-slideshow {
    width: 75vw;
    margin: auto;
  }
  #event-slideshow .slideshow {
    height: 30rem;
    width: 100%;
  }
  #event-slideshow .embla_viewport {
    height: 70vw !important;
  }
  #event-slideshow .embla {
    padding: 0%;
  }
  #event-slideshow .embla_slide_img {
    width: 100%;
  }
  #event-slideshow .embla_slide_inner {
    height: 55vh !important;
  }
  #event-slideshow .embla_dots {
    padding-top: 1rem;
  }
  #event-slideshow .gradient {
    height: 100%;
  }
}
@media only screen and (min-width: 1100px) {
  #event-slideshow .slideshow {
    height: 33rem;
  }
  #event-slideshow .embla_slide_inner {
    height: 64vh !important;
  }
}
@media only screen and (min-width: 1200px) {
  #event-slideshow .embla {
    max-width: 95vw;
  }
}
#photo-upload {
  border-radius: 35px;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 70px;
  height: 70px;
}
#photo-upload img {
  object-fit: cover;
  width: 70px;
  height: 70px;
}
#photo-upload .button {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: relative;
  bottom: 20px;
  left: 45px;
  cursor: pointer;
}

#add-animal #photo-upload {
  position: relative;
  margin: 1rem 1rem 2rem;
}

#admin-events {
  width: 95vw;
  margin: 0rem auto 2rem;
  padding: 2rem 0;
}
#admin-events .ui.button {
  width: 75%;
  font-size: 1.2rem;
  background-color: #f06f1a;
  color: #ffffff;
  margin: 0;
  margin-bottom: 1rem;
}
#admin-events .ui.button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f06f1a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#admin-events .events-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
}
#admin-events .events-list .event-card {
  min-height: 6rem;
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 0 1rem;
}
#admin-events .events-list .event-card:first-of-type {
  margin-top: 1rem;
}
#admin-events .events-list .event-card:last-of-type {
  margin-bottom: 1rem;
}
#admin-events .events-list .event-card .event-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#admin-events .events-list .event-card .event-content .event-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#admin-events .events-list .event-card .event-content .event-pic img {
  width: 80%;
  max-height: 10rem;
  object-fit: contain;
}
#admin-events .events-list .event-card .event-content .event-info .event-title {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
#admin-events .events-list .event-card .event-content .event-info .event-featured, #admin-events .events-list .event-card .event-content .event-info .event-type {
  color: #f06f1a;
  font-size: 0.9rem;
  font-weight: bold;
}
#admin-events .events-list .event-card .event-content .event-info .event-desc {
  font-size: 1.1rem;
  font-family: "Arimo", sans-serif;
}
#admin-events .events-list .event-card .event-content .event-info .event-date {
  font-size: 0.9rem;
  font-family: "Cabin", sans-serif;
  margin-bottom: 0.5rem;
}
#admin-events .events-list .event-card .options {
  width: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
#admin-events .events-list .event-card .options i {
  font-size: 1.2em;
}
#admin-events .events-list .event-card .options .menu {
  right: 10px;
  left: auto;
}

@media only screen and (min-width: 768px) {
  #admin-events .ui.button {
    font-size: 0.9rem;
  }
  #admin-events .events-list .event-card {
    line-height: 1.5rem;
  }
  #admin-events .events-list .event-card .event-content .event-info .event-title {
    font-size: 1.3rem;
  }
  #admin-events .events-list .event-card .event-content .event-info .event-date {
    font-size: 0.9rem;
  }
  #admin-events .events-list .event-card .event-content .event-info .event-desc {
    line-height: 1rem;
    font-size: 0.7rem;
  }
  #admin-events .events-list .event-content .event-pic {
    width: 85vw;
  }
  #admin-events .events-list .options i {
    font-size: 1.1em;
  }
  #admin-events .events-list .options .menu .item {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1024px) {
  #admin-events {
    width: 70%;
  }
  #admin-events .ui.button {
    font-size: 1.2rem;
  }
  #admin-events .event-content .event-info .event-info {
    margin-left: 3%;
  }
  #admin-events .event-content .event-info .event-info .event-desc {
    font-size: 1.2rem;
  }
  #admin-events .events-list .event-card .event-content .event-info {
    margin-left: 3%;
  }
  #admin-events .events-list .event-card .event-content .event-info .event-featured, #admin-events .events-list .event-card .event-content .event-info .event-type {
    font-size: 1rem;
  }
  #admin-events .events-list .event-card .event-content .event-info .event-desc {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  #admin-events .events-list .options i {
    font-size: 1.3em;
  }
  #admin-events .events-list .options .menu .item {
    font-size: 1rem;
  }
}
.footer {
  margin-top: 1.5rem;
  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .footer {
    font-size: 1.2rem;
    padding: 1.75rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    font-size: 1.3rem;
    padding: 2rem 0;
  }
}/*# sourceMappingURL=main.css.map */