@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f6f7f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nf-sect {
  display: flex;
  flex-direction: row;
}

#admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#admin h1 {
  font-weight: bold;
}
#admin h1.ui.header, #admin h1.ui.header:first-child, #admin h1.ui.header:last-child {
  margin: 0;
  cursor: pointer;
  font-size: 4rem;
}
#admin #header {
  display: flex;
  width: 80vw;
  margin: 3rem auto;
  flex-direction: row;
  justify-content: space-evenly;
}

#admin-animals {
  width: 70vw;
  margin: 1rem auto 2rem;
  padding: 2rem 0;
}
#admin-animals .button {
  width: 75%;
  height: 60px;
  font-size: 1.5rem;
  background-color: #f7931d;
  color: #ffffff;
  margin-bottom: 2rem;
}
#admin-animals .button:hover {
  background-color: #f68c13;
  color: #ffffff;
}
#admin-animals .ui.grid {
  display: flex;
  justify-content: space-around;
}
#admin-animals .ui.card {
  font-size: 1.2rem;
}
#admin-animals .ui.card:last-child {
  margin: 1em 0;
}
#admin-animals .no-animals {
  font-size: 1.5rem;
  font-weight: bold;
}

.ui.button > .icon:not(.button) {
  opacity: 1;
}

body {
  background-color: #f6f7f8;
  height: auto;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

#adoption {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 1rem auto 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}
#adoption h1 {
  font-weight: bold;
  color: #f7931d;
  margin-bottom: 3rem;
  text-align: center;
}
#adoption h1.ui.header, #adoption h1.ui.header:first-child, #adoption h1.ui.header:last-child {
  margin: 0;
  cursor: pointer;
  font-size: 4rem;
}
#adoption .animal-list {
  width: 80%;
  display: flex;
  margin: 3.5rem 0;
  justify-content: center;
}
#adoption .grid {
  justify-content: space-evenly;
}
#adoption .grid .ui.card {
  font-size: 1.2rem;
}
#adoption .grid .ui.card:last-child {
  margin: 1em 0;
}

/* .animal-header{
    font-size: x-large;
    color: #f2711c;
    font-weight: bold;
}

.animal-card-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
/* .card-type{
    border: solid rgba(221, 221, 221, 0.933);
    padding: 0 2% 0 2%;
}
.card-gender{
    border: solid rgba(221, 221, 221, 0.933);
    padding: 0 2% 0 2%;
}
.card-age{
    border: 0 0 0 0 solid rgba(221, 221, 221, 0.933);
    padding: 0 2% 0 2%;
} */
.container {
  padding: 0 2rem;
}

.ui.menu {
  display: flex;
  height: 4rem;
  background-color: #f6f7f8;
}

.everything {
  overflow-x: hidden;
}

.nf-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.slideshow {
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.nf-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2711c;
}

.nf-wholeSect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nf-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4%;
}

.adopt-image {
  width: 100%;
}

.nf-description {
  width: 60%;
  margin-right: 4%;
  margin-left: 2%;
}

.ui.orange.button {
  margin-top: 2%;
  padding: 5% 3.75%;
  box-shadow: 2px 2px 5px #aaaaaa;
}

.img-btn-left {
  left: 0;
  margin-left: 5rem !important;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
          clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

.img-btn-right {
  right: 0;
  margin-right: 5rem !important;
  -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
          clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.arrow {
  position: relative;
  top: 50%;
  height: 30px;
  width: 40px;
}

.img-container {
  margin: 0;
  height: 40vw;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  margin: auto;
  display: flex;
  background: rgb(27, 27, 27);
  align-items: center;
  justify-content: center;
}

.curr-img {
  margin: auto;
}

.ui.segment {
  border: 1px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  width: 97%;
}

@media only screen and (min-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) {
  .img-container {
    height: 28vw;
  }
}
/* LOGIN & REGISTER FORM CSS */
#login,
#register {
  margin: none;
  width: 90%;
  position: relative;
  margin-top: 1.5rem;
}

div.ui.segment {
  margin-top: 0;
}

.form-wrap {
  display: flex;
  justify-content: center;
}

/* FORM TOP */
#photo-upload {
  width: 70px;
  height: 70px;
}
#photo-upload img {
  width: 70px;
  height: 70px;
}

body {
  background-color: #f6f7f8;
  height: auto;
}

div.edit button {
  width: 25px;
  height: 25px;
}

.upload-image {
  margin-bottom: 1.1rem;
}

/* FORM FIELDS */
div.field {
  font-size: 1.2rem;
}

div.visible.menu span {
  font-size: 1.2rem;
}

/* FORM BOTTOM */
#login-btn,
#register-btn {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1.4rem;
  color: white;
  background: #f7931d;
}

.form-link {
  text-align: center;
  width: 50vw;
  margin: 0px auto;
  cursor: pointer;
}

@media only screen and (min-height: 750px) and (min-width: 350px) {
  form#login,
form#register {
    display: flex;
    justify-content: center;
  }
}
/* TABLET STYLES */
@media only screen and (min-width: 768px) {
  form#login,
form#register {
    width: 85vw;
    /* form top */
    /* form fields */
    /* form bottom */
  }
  form#login .ui.segment h1,
form#register .ui.segment h1 {
    font-size: 3rem;
  }
  form#login .upload-image,
form#register .upload-image {
    margin-bottom: 2rem;
  }
  form#login #photo-upload,
form#register #photo-upload {
    width: 90px;
    height: 90px;
  }
  form#login #photo-upload img,
form#register #photo-upload img {
    width: 90px;
    height: 90px;
  }
  form#login div.edit button,
form#register div.edit button {
    width: 35px;
    height: 35px;
  }
  form#login i.pencil.icon,
form#register i.pencil.icon {
    font-size: 1.3rem;
  }
  form#login div.field,
form#register div.field {
    font-size: 1.5rem;
  }
  form#login div.visible.menu span,
form#register div.visible.menu span {
    font-size: 1.4rem;
  }
  form#login #login-btn,
form#login #register-btn,
form#register #login-btn,
form#register #register-btn {
    padding: 13px;
    font-size: 1.9rem;
  }
  form#login .form-link,
form#register .form-link {
    font-size: 1.3rem;
  }
}
/* LARGE & DESKTOP STYLES */
/* 1024px | 1280px */
@media only screen and (min-width: 1024px) {
  form#login,
form#register {
    width: 65vw;
  }
}
.navbar {
  position: relative;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  border-bottom: 3px solid #F7931D;
  background: #F6F7F8;
  transition: border 0.1s linear;
}
.navbar.showing {
  border-bottom: 3px solid transparent;
}
.navbar .wm-logo {
  width: 40%;
}
.navbar .vet-logo {
  width: 15%;
}
.navbar i.icon.hamburger {
  width: 15%;
  font-size: 1.9rem;
}

.hamburger.items {
  display: flex;
  font-family: "ABeeZee", sans-serif;
  transform: translateY(-17rem);
  transition: all 1s ease-in;
  height: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background: #F6F7F8;
  z-index: 9;
  border-bottom: solid 3px #F7931D;
  position: absolute;
}
.hamburger.items .menu-item a {
  font-size: 1.5rem;
  line-height: 3rem;
}
.hamburger.items .menu-item a:hover {
  color: #F7931D;
}

.hamburger.items.hide .menu-item a {
  display: none;
}

.hamburger.items.show {
  height: auto;
  transform: translateY(0);
  transition: all 1s ease-out;
}

.navbar2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 7.5rem;
  }
  .navbar .vet-logo {
    width: 10%;
  }
  .navbar i.icon.hamburger {
    font-size: 2.8rem;
  }

  .hamburger.items .menu-item a {
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar {
    display: none;
  }

  .hamburger.items {
    display: none;
  }

  .navbar2 {
    width: 100%;
    height: 5.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 0.75rem;
    border-bottom: 3px solid #F7931D;
  }
  .navbar2 .vet-logo {
    width: 5%;
    margin-right: 5%;
  }
  .navbar2 .wm-logo {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  .navbar2 .hamburger {
    display: none !important;
  }
  .navbar2 .items {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
  }
  .navbar2 .menu-item {
    margin-right: 30px;
    font-size: 2rem;
    color: black;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .navbar2 .menu-item a:hover {
    color: black;
  }
  .navbar2 .menu-item::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f7931d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .navbar2 .menu-item:hover::after, .navbar2 .menu-item.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}/*# sourceMappingURL=main.css.map */