@use "../themes/defaultTheme" as *;

#add-animal {
  i.close {
    font-size: 1.5rem;
  }

  .form-wrap {
    flex-direction: column;
  }

  .form {
    width: 100%;
    padding: 0.5rem;
  }

  .error.message i.close {
    font-size: 1rem;
  }

  h1 {
    color: $clr-orange;
  }

  .uploads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .field {
    font-size: 1.1rem;
  }

  .button-div {
    display: flex;
    justify-content: center;

    .button {
      margin: 1rem 0 0;
      background-color: orange;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #add-animal {
    h1{
      font-size: 2rem;
    }

    .field {
      font-size: 0.8rem;
    }
    .button-div {
      .button {
        font-size: .9rem;
      }
    }

    .ui.icon.header {
      font-size: 1.3rem;
      .icon {
      font-size: 2.5em;
      }
    }
  }
}

@media only screen and (min-width: 991px) {
  #add-animal {
    i.close {
      top: 1.0535rem;
      right: 1rem;
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #add-animal {
    h1 {
      font-size: 2.5rem;
    }

    .field {
      font-size: 1.2rem;
    }

    .ui.icon.header{
      font-size: 1.5rem;
      .icon{
        font-size: 3em;
      }
    }
  }
}
