@use "../themes/defaultTheme" as *;

#add-animal, #add-event, #edit-animal, #edit-event, #adopt-modal {
  i.close {
    font-size: 1.5rem;
  }

  .form-wrap {
    flex-direction: column;
  }

  .form {
    width: 100%;
    padding: 0.5rem;
  }

  .error.message i.close {
    font-size: 1rem;
  }

  h1 {
    color: $clr-orange;
  }

  .uploads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .field {
    font-size: 1.1rem;
  }

  #event-group{
    // style={{ display: "flex", margin: 0, justifyContent: 'space-between'}}
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
    // width: 100%;
    .field, #event-type{
      width: 100%;
    }

    #event-type{
      margin-bottom: 1em;
      .field:last-child{
        margin-top: .5em ;
      }
    }
  }

  .button-div {
    display: flex;
    justify-content: center;

    .button {
      margin: 1rem 0 0;
      color: white;
      background-color: $clr-orange;
      font-size: 1.2rem;
    }
  }
}

// @media only screen and (min-width: 380px) {
//   #event-type{
//     width: auto;
//   }
// }



@media only screen and (min-width: 768px) {
  #add-animal, #add-event, #edit-animal, #edit-event {
    h1{
      font-size: 2rem;
    }

    .field {
      font-size: 0.8rem;
    }
    .button-div {
      .button {
        font-size: .8rem;
      }
    }

    .ui.icon.header {
      font-size: 1.3rem;
      .icon {
      font-size: 2.5em;
      }
    }
  }
}

@media only screen and (min-width: 991px) {
  #add-animal, #add-event, #edit-animal, #edit-event {
    i.close {
      top: 1.0535rem;
      right: 1rem;
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.8rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  // .add-animal {
  //   margin-left: 2.5vw;
  //   margin-right: 2.5rem;
  //   justify-content: center;
  // }
  #add-animal, #add-event, #edit-animal, #edit-event {
    h1 {
      font-size: 2.5rem;
    }
    
    .line{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 0.5rem;

      // min-width: 27vw;
      
      div {
        min-width: 27vw;
        margin: 0;
        // margin-top: 0.5rem;
        width: 23vw
        
      }
      input {
        margin: 0;
        // width: 50%;
      }
    }
    
    .invisible{
      opacity: 0;
      font-size: 0.7rem;
      input{
        cursor: default
      };

    }
    

    .button-div {
      .button {
        font-size: 1.2rem;
      }
    }

    .field {
      font-size: 1.2rem;
    }

    .ui.icon.header{
      font-size: 1.5rem;
      .icon{
        font-size: 3em;
      }
    }
  }
}
