#admin-users{
  .campus-group{
    margin-bottom: 2rem;

    .student-group{
      border-left: solid #F7931D 3px;
      padding-left: 1rem;
      margin-left: 0.5rem;
    }

    .user-card{
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      background: #E6E6E6;
      padding: 5px;

      .profile-pic{
        width: 20vw;
        height: 20vw;
        img{
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .text{
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 5%;
        
        .user-card-top{
          display: flex;
          justify-content: space-between;
          font-size: 1.1rem;
          padding-right: 3%;
          height: 1.5rem;

          .user-role{
            text-transform: capitalize;
          }
          .user-name{
            font-weight: bold;
          }
          .options{
            margin-right: -7px;
          }
        }
        .user-card-mid{
          text-transform: capitalize;
        }
        .edit-email{
          display: flex;
          input{
            width: 90%;
          }
        }
      }
    }
  }
}