@use "../themes/defaultTheme" as *;

#admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  h1 {
    font-weight: bold;

    &.ui.header,
    &.ui.header:first-child,
    &.ui.header:last-child {
      margin: 0;
      cursor: pointer;
      font-size: 2.5rem;
      font-family: $custom-font-2;
      &:hover {
        color: #f7931d;
      }
    }
  }

  #header {
    display: flex;
    width: 80vw;
    margin: 2rem auto;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

#admin-animals {
  width: 80vw;
  margin: 0rem auto 2rem;
  padding: 2rem 0;

  .button {
    width: 75%;
    height: 60px;
    font-size: 1.5rem;
    background-color: #f7931d;
    color: #ffffff;
    margin-bottom: 2rem;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(255, 164, 29);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  // .ui.selection.dropdown {
  //   min-width: 10em;
  // }

  .animal-list{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
  }

  .ui.grid {
    display: flex;
    justify-content: center;

    .ui.card {
      font-size: 1.2rem;
      margin: .5rem;
      cursor: pointer;
      text-align: center;
      max-width: 250px;
      text-transform: uppercase;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }

      .animal-header{
        font-size: 2rem;
        margin-bottom: .8rem;
      }
    }
  }

  .no-animals {
    margin: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.ui.button > .icon:not(.button) {
  opacity: 1;
}

//TABLET
@media only screen and (min-width: 768px) {
  #admin{
    h1.ui.header,
    h1.ui.header:first-child,
    h1.ui.header:last-child {
      font-size: 3.5rem;
    }
    .button{
      width: 60%;
    }
    .ui.pagination.menu .item {
      min-width: 4em;
      justify-content: center;
    }
  }
}

//DESKTOP
@media only screen and (min-width: 1024px) {
  #admin{
    h1.ui.header,
    h1.ui.header:first-child,
    h1.ui.header:last-child {
      font-size: 4rem;
      
    }
  }
}