body {
  background-color: #f6f7f8;
  height: auto;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

#adoption {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 1rem auto 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;

  h1 {
    font-weight: bold;
    color: #f7931d;
    margin-bottom: 3rem;
    text-align: center;

    &.ui.header,
    &.ui.header:first-child,
    &.ui.header:last-child {
      margin: 0;
      margin-bottom: 2rem;
      cursor: pointer;
      font-size: 2.3rem;
    }
  }

  .sort-div {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .ui.selection.dropdown {
      width: 16em;
      min-width: 9em;
      margin: 0.2rem;
    }
  }

  .animal-list {
    width: 90%;
    display: flex;
    margin: 3rem 0;
    justify-content: center;
  }

  .grid {
    justify-content: center;
    .ui.card {
      font-size: 1.2rem;
      margin: 0.5rem;
      cursor: pointer;
      text-align: center;
      max-width: 250px;
      text-transform: uppercase;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }

      .animal-header {
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }
    }
  }

  .no-animals {
    margin: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

//TABELT
@media only screen and (min-width: 768px) {
  #adoption {
    h1 {
      &.ui.header,
      &.ui.header:first-child,
      &.ui.header:last-child {
        font-size: 3.5rem;
      }
    }

    .sort-div {
      flex-direction: row;
      .ui.selection.dropdown {
        width: 11em;
        min-width: 9em;
      }
    }

    .ui.pagination.menu .item {
      min-width: 4em;
      justify-content: center;
    }
  }
}

//DESKTOP
@media only screen and (min-width: 1024px) {
  #adoption {
    width: 80vw;
    .animal-list {
      width: 100%;
    }

    .sort-div {
      .ui.selection.dropdown {
        width: 13em;
        min-width: 9em;
        font-size: 1.1rem;
      }
    }
  }
}
