body {
  background-color: #f6f7f8;
  height: auto;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

#adoption {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 1rem auto 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;

  h1 {
    font-weight: bold;
    color: #f7931d;
    margin-bottom: 3rem;
    text-align: center;

    &.ui.header,
    &.ui.header:first-child,
    &.ui.header:last-child {
      margin: 0;
      cursor: pointer;
      font-size: 4rem;
    }
  }

  .animal-list {
    width: 80%;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
  }
}

/* .animal-header{
    font-size: x-large;
    color: #f2711c;
    font-weight: bold;
}

.animal-card-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* .card-type{
    border: solid rgba(221, 221, 221, 0.933);
    padding: 0 2% 0 2%;
}
.card-gender{
    border: solid rgba(221, 221, 221, 0.933);
    padding: 0 2% 0 2%;
}
.card-age{
    border: 0 0 0 0 solid rgba(221, 221, 221, 0.933);
    padding: 0 2% 0 2%;
} */
