@use "../themes/defaultTheme" as *;

div.animal-wrap {
  margin-top: 1rem;
  padding-bottom: 10%;
  width: 90%;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.105);
  display: flex;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.top-btns {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0;

  #edit-2 {
    margin-left: 1rem !important;
  }
  div{
    font-size: 1.2rem;
  }
}

.page-wrap {
  display: flex;
  justify-content: center;
}

//pet card styling
.pet-name {
  margin-top: 5% !important;
}

.pet-img {
  width: 70vw;
  height: 70vw;
  object-fit: cover;
}

.para-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  font-size: 1.3rem;
}

.pet-title {
  margin-top: 6%;
  margin-bottom: 8%;
}

.pet-description {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85vw;
  margin-bottom: 5%;

  div {
    //margin-top: 2.5%;
    margin: 0 2.5% 0% 3%;
  }

  h3 {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 0%;
    color: $clr-orange;
    font-size: 1.65rem;
  }

  p {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-bottom: 7%;
  }
}

h3 {
  margin-top: 0;
}

.content {
  background: rgba(255, 255, 255, 0.3);
}

.gallery-title {
  font-size: 1.71rem;
}

.pet-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;
  padding-top: 5% !important;

  img {
    width: 65% !important;
    height: 250px !important;
    object-fit: cover !important;
    border-radius: 3%;
    min-width: 30vw;
  }
}

@media only screen and (min-width: 768px) {
  div.animal-wrap {
    font-size: 0.8rem;
  }

  .top-btns {
    #edit-1 {
      font-size: 1rem;
    }

    #edit-2 {
      font-size: 1rem;
      margin-left: 1rem !important;
    }
  }

  .para-desc {
    font-size: 0.9rem;
  }

  .pet-title {
    font-size: 1.3rem;
    margin-bottom: 0%;
  }

  .pet-description {
    h3 {
      font-size: 1.2rem;
    }

    .section-1 {
      display: flex;
      flex-direction: column;
      width: 90%;

      //width: 30%;
      div {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    .section-2 {
      display: flex;
      flex-direction: row;
      width: 95%;

      div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }

    .section-3 {
      display: flex;
      flex-direction: row;
      width: 95%;

      div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
  }

  .gallery-title {
    font-size: 1.35rem;
  }

  .pet-img {
    width: 53vw;
    height: 50vw;
  }

  .pet-gallery {
    align-items: center;
    justify-content: center;
    grid-gap: 3px;

    img {
      padding: 1% !important;
      width: 35% !important;
      height: 300px !important;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .pet-name {
    margin-top: 3% !important;
  }

  .top-btns {
    #edit-1 {
      font-size: 1.25rem;
    }

    #edit-2 {
      font-size: 1.25rem;
    }
  }

  .pet-img {
    width: 40vw;
    height: 40vw;
  }

  .para-desc {
    margin-top: 3%;
    width: 70%;
    font-size: 1.1rem;
  }

  .pet-title {
    margin-top: 3%;
    font-size: 1.7rem;
  }

  .pet-description {
    margin-bottom: 7%;

    h3 {
      margin-bottom: 1%;
      margin-top: 2%;
      font-size: 1.5rem;
    }

    p {
      margin-bottom: 3%;
      font-size: 1rem;
    }

    .section-1 {
      display: flex;
      flex-direction: column;
      width: 90%;

      //width: 30%;
      div {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    .section-2 {
      display: flex;
      flex-direction: row;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }

    .section-3 {
      display: flex;
      flex-direction: row;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
  }

  .pet-img {
    width: 27vw;
    height: 25vw;
  }

  .pet-gallery {
    align-items: center;
    justify-content: center;
    grid-gap: 1px;

    img {
      padding: 0.5% !important;
      //width: 33% !important;
      height: 300px !important;
      object-fit: cover !important;
    }
  }
}
