@use "../themes/defaultTheme" as *;

#event-modal{
  width: 90vw;
}

.event-modal-wrap{
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  
  .title-row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    .event-modal-title{
      color: $clr-orange;
      text-transform: uppercase;
      margin-bottom: .5rem;
      text-align: center;
      width: 100%;
      font-family: $bold-font;
      font-size: 2rem;
    }
  }

  .event-modal-img{
    align-self: center;
    border-radius: .3rem;
    margin: 0 auto !important;
  }

  .event-meta{
    color: #000000;
    margin: 0;
    font-size: 1.1rem;
    font-family: $text-font-1;
    letter-spacing: 0.6px;
  }

  .event-modal-featured{
    margin-top: 1rem;
    color: $clr-orange;
  }

  .event-modal-date{
    margin-top: 1rem;
  }
  .event-modal-location{
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  .event-modal-desc{
    color: #000; 
  }
}


//TABLET
@media only screen and (min-width: 768px) {
  .event-modal-wrap{
    .event-modal-featured{
      margin-top: 1rem;
    }
  
    .event-modal-date{
      margin-top: 1rem;
      font-size: .95rem;
    }
    .event-modal-location{
      margin-top: 0.5rem;
      font-size: .85rem;
    }
    .event-modal-desc{
      color: #000; 
      font-size: .75rem;
    }
  }
}


@media only screen and (min-width: 991px) {
  #event-modal{
    .content{
      .event-modal-wrap{
        .event-modal-content{
          display: flex;

          .event-modal-img{
            width: 50%;
          }
          .event-modal-text{
            margin-left: 1rem;
          }

          .event-modal-date{
            font-size: .95rem;
          }
          .event-modal-location{
            margin-top: 0.5rem;
            font-size: 1rem;
          }
          .event-modal-desc{
            color: #000; 
            font-size: 1rem;
          }
        }
      }
    }
  }
}