@use "../themes/defaultTheme" as *;

#event-modal{
  width: 90vw;
}

.event-modal-wrap{
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  
  .title-row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    .event-modal-title{
      color: $clr-orange;
      text-transform: capitalize;
      margin-bottom: .5rem;
      text-align: center;
      width: 100%;
    }
  }

  .event-modal-img{
    align-self: center;
    border-radius: .3rem;
  }

  .event-modal-date{
    color: #4D4D4D;
    margin: 0;
    margin-top: 1rem;
  }
  .event-modal-location{
    color: #4D4D4D;
    margin: 0;
    margin-top: 0.5rem;
  }
  .event-modal-desc{
    color: #000;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  #event-modal{
    i.close {
      font-size: 1.5rem;
    }

    .event-modal-wrap{
      margin-top: 2.5rem;
    }
  }
}

@media only screen and (min-width: 991px) {
  #event-modal{
    i.close {
      top: 1.0535rem;
      right: 1rem;
      color: rgba(0, 0, 0, 0.87);
      font-size: 1.8rem;
    }
  }
}