.events-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;

    h1 {
        color: #f06f1a;
    }

    .map-and-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .allMaps {
            display: flex;
            flex-direction: column;
            margin-top: 2%;
            margin-bottom: 2%;
            .map1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 0;
                border: 1px solid rgb(183, 183, 183);
                box-shadow: 2px 2px 4px rgb(213, 213, 213);
                width: 100%;
                height: 60vw;
                border-radius: 3%;
            }

            .map2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 0;
                margin-top: 5%;
                border: 1px solid rgb(183, 183, 183);
                box-shadow: 2px 2px 4px rgb(213, 213, 213);
                width: 100%;
                height: 60vw;
                border-radius: 3%;
            }
        }
    }
}

// @media only screen and (min-width: 280px) {
//     .events-map {
//         margin-top: 40vw;
//     }
// }


@media only screen and (min-width: 768px) {
    .events-map {
        margin-top: 5vw;

        .map-and-text {
            p {
                padding-left: 7%;
                padding-right: 7%;
                padding-bottom: 3%;
            }
            .allMaps {
                display: flex;
                flex-direction: column;
                margin-top: 0%;
                margin-bottom: 0%;
                width: 80vw;
                height: 70vw;
                .map1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 0;
                    border: 1px solid rgb(183, 183, 183);
                    box-shadow: 2px 2px 4px rgb(213, 213, 213);
                    width: 100%;
                    height: 60vw;
                    border-radius: 3%;
                }
    
                .map2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 0;
                    margin-top: 5%;
                    border: 1px solid rgb(183, 183, 183);
                    box-shadow: 2px 2px 4px rgb(213, 213, 213);
                    width: 100%;
                    height: 60vw;
                    border-radius: 3%;
                }
            }
        }
    }

}

@media only screen and (min-width: 1024px) {
    .events-map {
        margin-top: 15vw;
        padding-top: 25px;

        .map-and-text {
            display: flex;
            flex-direction: row;
            margin-top: 1%;

            p {
                width: 40%;
                font-size: 1rem;
            }

            .map {
                width: 65%;
                height: 15vw;
            }
        }
    }

}