.container {
  padding: 0 2rem;
}

.ui.menu {
  display: flex;
  height: 4rem;
  background-color: #f6f7f8;
}

.everything {
  overflow-x: hidden;
}

.nf-div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  a {
    color: #0070f3;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.slideshow {
  margin-top: 1rem;
}

.img-container {
  margin: 0;
  object-fit: contain;
  overflow: hidden;
  margin: auto;
  display: flex;
  background: rgb(27, 27, 27);
  align-items: center;
  justify-content: center;
}

.curr-img {
  margin: auto;
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;

  &:hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.nf-description {
  width: 60%;
  margin-right: 4%;
  // margin-left: 2%;
}

.img-btn-left {
  left: 0;
  margin-left: 5rem !important;
  clip-path: polygon(40% 0%,
      40% 20%,
      100% 20%,
      100% 80%,
      40% 80%,
      40% 100%,
      0% 50%);
}

.img-btn-right {
  right: 0;
  margin-right: 5rem !important;
  clip-path: polygon(0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%);
}

.arrow {
  position: relative;
  top: 50%;
  height: 30px;
  width: 40px;
}



//everything under the slide show

.nf-sect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
}

img {
  width: 90%;
}

.events-section {
  margin-top: 7.5rem !important;
  width: 100%;
  border: 100px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #f2711c !important; //couldn't find what kept it from turning orange but this made it work

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
  }

  .nf-wholeSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5rem;

    p {
      margin-top: 1rem;
      color: #fafafa;
    }

    .ui.white.button {
      margin-bottom: 4%;
      padding: 5% 3.75%;
      box-shadow: 2px 2px 5px #aaaaaa;
      color: #f2711c;
      background-color: #fafafa;
    }
  }
}

.adopt-section {
  border: 1px solid rgba(0, 0, 0, 0.119);
  border-radius: 4px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  width: 100%;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2711c;
  }

  .nf-wholeSect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5rem;

    p {
      margin-top: 1rem;
    }
  }

  .ui.orange.button {
    margin-bottom: 4%;
    padding: 5% 3.75%;
    box-shadow: 2px 2px 5px #aaaaaa;
  }
}

.ui.segment:first-child{
  h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}



@media only screen and (min-width: 768px) {
  html{
    font-size: 1.55rem;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .events-section {
    margin-top: 4.25rem !important;
    .nf-sect{
      display: flex;
    }
  }
}

@media only screen and (min-width: 1024px) {
  html{
    font-size: 1.15rem;
  }
  .img-container {
    height: 28vw;
  }
}